In [39]:
# library for yahoo finance
import yfinance as yf

# libraries for basic data manuplation
import pandas as pd
import numpy as np

In [40]:
def get_stock_hist(period, *stock):
    """
    get the historical price of stock within a period
    
    Parameters
    -----------
    curr: str, short form of the currecy. e.g.US dollar - 'USD'
    
    period: str, period for obtaining the data e.g. '1d', '5d','1mos','3mos','6mos','1y','2y','5y','10y','ytd','max'
    
    stock: str, sympbol for the stock e.g. 'TSLA', 'AAPL'
    
    Returns
    -----------
    stock_dict: dict to cotain the dataframe of crypto currency with target currency
    """
    stock_dict = {}
    for i in stock:
        ticker = yf.Ticker(f"{i}")
        stock_dict[f'{i}'] = ticker.history(period = period)
    return stock_dict

In [41]:
# example of getting the dict of stock
stock_dict = get_stock_hist('max', 'TSLA')

In [44]:
# data frame for the target stock
stock_dict['TSLA'].head()

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0